<div class="jumbotron-fluid pt-4 pt-4 pb-md-5 col-12">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="d-none d-md-flex col-12 col-md-4 align-self-center justify-content-md-start">
                    <img alt="Logo food-truck"  >
            </div>
            <div class="col-12 col-md-8 align-self-center d-none d-md-block">
                <div class="row">
                    <div class="col-12 text-right pb-0 mb-0 h1">100 % <b>FOOD TRUCK</b></div>
                    <div class="col-12">
                        <a class="nav-link p-0" href="#">
                            <div class="text-white text-right h2">
                                <b>
                                    <span class="text-green">COMMANDER VITE POUR GAGNER DU TEMPS</span>
                                </b>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><br><br>


