<nav class="d-none d-md-block navbar topbar pb-0 pt-0">
    <div class="d-none d-md-block container p-0 card-group">
        <div class="d-none d-lg-block border-0">
            <div class="row">
                <ul class="col nav nav-pills">
                    <li class="nav-item">
                        <span class="nav-link"> SUIVEZ-NOUS</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="#">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                </ul>

                <ul class="col nav nav-pills align-self-center justify-content-center">
                    <li class="nav-item font-weight-bold">
                        <a data-toggle="modal" data-target="#cvRecentModal">

                            1000 CLIENT CONNECTÉS &nbsp;</a>| &nbsp;
                    </li>
                    <li class="nav-item font-weight-bold">
                        500 FOODTRUCK
                    </li>
                </ul>

                <ul class="col nav nav-pills top-link top-link2 greenFi col align-self-end d-flex justify-content-end">
                    <li class="list-inline-item">
                        <a class="nav-link text-green" href="#">
                            {# <i class="far fa-user pr-2"></i> #}
                            <svg class="svg-green" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                {{ include('Order/svg-icons/connexion.html.twig') }}
                            </svg>
                            SE CONNECTER
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link bg-green rounded-0" href="#">
                            {# <i class="far fa-edit"></i> #}
                            <svg class="svg-white" width="27px" height="17px" viewBox="0 0 27 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                {{ include('Order/svg-icons/inscription.html.twig') }}
                            </svg>
                            S&#039;INSCRIRE
                        </a>
                    </li>
                </ul>
            </div>
        </div>



    </div>
</nav>